.page-footer {
    background-color: #e4e4e4;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    padding: 0px 10px;
}
.page-footer a{
    text-decoration: none;
    color: black;
}
.page-footer ul {
    display: flex;
    gap: 2vw;
    justify-content: space-between;
}